<ul class="navbar-nav ml-0 ml-lg-auto">
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/"> Home </a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/about"> About </a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/appointments"> Appointment </a>
  </li>
</ul>

<div class="act-buttons d-none d-md-flex ml-md-auto ml-lg-0">
  <ul class="navbar-nav align-items-center">
    <li class="nav-item">
      <a class="btn btn-danger-gradiant font-14" *ngIf="!auth.loginStatusService" (click)="loginClick()">
        Login
      </a>
      <a class="btn btn-info-gradiant font-14" *ngIf="auth.loginStatusService" (click)="newAppointment()">
        Make an appointment
      </a>
    </li>

    <li class="nav-item" *ngIf="auth.loginStatusService" ngbDropdown>
      <a ngbDropdownToggle class="nav-link text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/images/users/1.jpg" class="rounded-circle ml-2" alt="Cinque Terre" width="40" height="40"
          (click)="fun()" />
        <i class="ti-angle-down text-white font-12 op-5 ml-2"></i>
      </a>
      <div class="user-dd border-0 dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <span class="dropdown-item">
          Welcome
        </span>
        <a class="dropdown-item" (click)="logoutClick()" href="javascript:void(0)">
          <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</div>
