<div class="row m-t-30">
    <div class="col-lg-3 m-b-30" *ngFor='let member of doctors'>
        <div class="row">
            <div class="col-md-12 pro-pic">
                <img [src]="member.img" alt="wrapkit" class="img-responsive rounded-circle"/>
            </div>
            <div class="col-md-12">
                <div class="p-t-10">
                    <h5 class="title font-medium">{{member.name}}</h5>
                    <h6 class="subtitle">{{member.specialization}}</h6>
                    <p> {{member.description}}</p>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a routerLink="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
