<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile class="bg-light mat-grid-tile-left-top" colspan="1" rowspan="3">
    <div *ngIf="auth.user$ | async as user; else noUserBlock">
      <h1 class="text-md-center"> Welcome {{this.authenticatedUser.role}}!</h1>
      <div class="row align-content-center profile-header">
        <div class="col-12 mb-3 text-center text-md-center">
          <img
            [src]="user.picture"
            alt="User's profile picture"
            class="fa-facebook-square card-img-top profile-picture"
          />
        </div>
        <div class="col-md text-center text-md-center">
          <h2>{{ this.authenticatedUser.details.name}}</h2>
          <p class="lead text-muted">{{ this.authenticatedUser.details.email}}</p>
          <p class="lead text-muted">{{ this.authenticatedUser.details.phone}}</p>
        </div>
      </div>
      <div class="text-md-center">
        <button class="btn btn-primary" (click)="goTo()">Go to appointments</button>
      </div>
    </div>
    <ng-template #noUserBlock><h1>Welcome!</h1></ng-template>

  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile-right" colspan="2" rowspan="5">
    <app-newsfeed></app-newsfeed>
  </mat-grid-tile>

  <mat-grid-tile class="mat-grid-tile-left-bottom" colspan="1" rowspan="2" style="background-color: #0e577c">
    <app-track-appointment></app-track-appointment>
  </mat-grid-tile>
</mat-grid-list>
