<iframe
    src="https://maps.google.com/maps?q=Bul%20Bulgaria%20147%20Sofia&t=&z=13&ie=UTF8&iwloc=&output=embed"
    width="100%" height="450" style="border: 0"></iframe>

<div class="footer4 b-t spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Address</h5>
                <p>bul Bulgaria 147, Sofia, BG 1721</p>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Phone</h5>
                <p>
                    Reception : +205 123 4567 <br/>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Email</h5>
                <p>
                    Office : <a routerLink="#" class="link">edentist18@gmail.com</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="m-b-20">Social</h5>
                <div class="round-social light">
                    <a routerLink="#" class="link"><i class="fab fa-facebook-f"></i></a>
                    <a routerLink="#" class="link"><i class="fab fa-twitter"></i></a>
                    <a routerLink="#" class="link"
                    ><i class="fab fa-google-plus-g"></i
                    ></a>
                    <a routerLink="#" class="link"><i class="fab fa-youtube"></i></a>
                    <a routerLink="#" class="link"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="f4-bottom-bar">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex font-14">
                        <div class="m-t-10 m-b-10 copyright">
                            All Rights Reserved.
                        </div>
                        <div class="links ml-auto m-t-10 m-b-10">
                            <a routerLink="#" class="p-10 p-l-0">Terms of Use</a>
                            <a routerLink="#" class="p-10">Legal Disclaimer</a>
                            <a routerLink="#" class="p-10">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
